@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #767676;
  --btn-background-color: #ff4d30;
  --vehical-name-bg-color: #e9e9e9;
}

#header {
  box-shadow: 0 7px 15px 0 rgb(221 196 191 / 35%);
  z-index: 10;
  position: fixed;
  width: 100%;
  background-color: aqua;   
}

#navbar {
  display: flex;
  margin: 0px 35px;
  align-items: center;
  justify-content: space-between;
}

/* Left section of the navbar */
.left-section {
  display: flex;
  align-items: center;
  margin: 0px 27px;
}

.logo-img {
  height: 7rem;
  margin-left: -27px;
  width: 9rem;
}

#logo-heading {
  color: red;
  font-size: 20px;
}

/* Middle Section of the navbar
*/
.navbar-links {
  height: 2.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 37.3rem;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  color: var(--black-color);
  font-family: sans-serif;
}

/* Right section of the game 
*/
.right-section {
  display: flex;
  justify-content: center;
  gap: 20px;
  height: 50px;
  width: 13.2rem;
  font-family: Rubik, sans-serif;
}

#right-btn {
  border-radius: 5px;
  width: 116px;
  font-size: 16px;
  border: none;
  background-color: blue;

  font-weight: bold;
  box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.35);
  cursor: pointer;
  color: var(--white-color);
  transition: 0.5s;
  transition-property: color, background-color;
}

#right-btn:hover {
  color: var(--black-color);
  background-color: var(--white-color);
  border: 2px solid black;
}

#left-btn {
  border-radius: 5px;
  width: 116px;
  font-size: 16px;
  border: none;
  background-color: var(--black-color);
  font-weight: bold;
  box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.35);
  cursor: pointer;
  color: var(--white-color);
  transition: 0.5s;
  transition-property: color, background-color;
}

#left-btn:hover {
  color: var(--black-color);
  background-color: var(--white-color);
  border: 2px solid black;
}

.navbar-links li a:hover {
  color: var(--btn-background-color);
  /* color: var(--black-color); */
}

#right-btn:hover,
#left-btn:hover {
  box-shadow: 0 10px 15px 0 rgba(211, 57, 26, 0.35);
}

/* home-container-section-starts-here */
#Home-container-section {
  height: 100rem;
  display: flex;
  margin-top: 7rem;
  justify-content: center;
  background-color: aqua;
}

.home-content-container {
  margin: 0px 5px;
  height: 36rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-container {
  display: flex;
  flex-direction: column;
  font-family: Poppins, sans-serif;
  gap: 21px;

  margin-left: 3rem;
}

#home-container-hero-img {
  height: 28rem;
}

.h-of-home-container {
  font-size: 3.2rem;
  font-family: "Poppins", serif;
  line-height: 3.5rem;
}

#span-of-h {
  font-size: 1.8rem;
  color: blue;
}

.headings span {
  color: #ff4d30;
}

.home-container p {
  color: #000000;
  font-family: Rubik, sans-serif;
  /* font-family: 'Lora', serif; */
  font-size: 17px;
  line-height: 22px;
  font-weight: 500;
}

.home-btn {
  display: flex;
  align-items: center;
  gap: 37px;
  margin-top: 17px;
  height: 3.5rem;
  max-width: 23rem;
  /* border: 2px solid black; */
}

.home-container-btn {
  border: none;
  width: 165px;
  height: 3.9rem;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.35);
  color: var(--white-color);
  cursor: pointer;
  font-size: 16px;
}

#left-home-container-btn {
  background-color:  blue;
}

#left-home-container-btn:hover {
  box-shadow: 0 10px 15px 0 rgba(99, 21, 5, 0.35);
  color: var(--black-color);
  background-color: var(--white-color);
  border: 2px solid black;
  transition: 0.5s;
  transition-property: color, background-color;
}

#right-home-container-btn {
  background-color: var(--black-color);
  transition: 0.5s;
  transition-property: color, background-color;
}

#right-home-container-btn:hover {
  color: var(--black-color);
  background-color: var(--white-color);
  border: 2px solid black;
}

#right-home-container-btn span {
  margin-left: 10px;
}
